:root {
    --bg-color: #2c3e50;
    --text-color: #eeeeee;
    --button-bg-color: #ff7f50;
    --button-border-color: #ff7f50;
    --monster-bg-color: #c70d0d;
  }
  
  body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  #text {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
    margin-bottom: 30px;
    font-size: 24px;
    text-align: center;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  #controls,
  #stats {
    color:#2c3e50;
    border: 1px solid var(--border-color);
    padding: 5px;
    /*color: var(--text-color);*/
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid var(--border-color);
    padding: 5px;
    color: var(--text-color);
    background-color: var(--monster-bg-color);
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: var(--text-color);
    background-image: linear-gradient(to bottom right, #ff7f50, #ff7f50, #ff7f50, #fd7e37, #e03121);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-image: linear-gradient(to bottom right, #e03121, #fd7e37, #ff7f50, #ff7f50, #ff7f50);
  }
